*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-size:10px;
    font-family: 'Montserrat Subrayada', sans-serif;
}

%clearfix {
    &:before, &:after {
        content: "";
        left: 0;
        transform-origin: center;
        padding: 0;
        margin:0;
    }
    &:after { clear: both; }
}

nav{
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    min-height: 10vh;
    color:white;
    align-items: center;

    #logo{
        grid-column: 2/3;
        font-size:2.4rem;
        color:black;
    }
    .nav_checkbox{
        display: none;
        &:checked ~ .nav-links{
            opacity: 1;
            display: flex;
            position: fixed;
            list-style: none;
            width:100%;
            height:100vh;
            flex-direction: column;
            justify-content: center;
            align-items:center;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
            z-index:9;
            background-color:#3a55c7;
            & > li a{
                width:100%;
                opacity: 1;
                text-decoration: none;
                font-size: 4.5rem;
                line-height: 3;
                color:white;
            }
        }
    }
    .nav-btn{
        background-color:#fff;
        height: 5rem;
        width: 5rem;
        position: fixed;
        top: 1rem;
        right: 4rem;
        border-radius: 50%;
        z-index: 3000;
        box-shadow: 0 1rem 3rem  rgba(17,17,17,0.1);
        text-align: center;
        cursor: pointer;

        &:hover .line:before{
            top: -1rem;
        }
        &:hover .line:after{
            top: 1rem;
        }
    }
    .menu{
        display:flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        margin-top:.5rem;

        .line{
            position: relative;
		    margin-top: 2rem;
            transition: all .3s ease-in-out;

            &, &:before, &:after{
			width: 3rem;
			height: 2px;
			background-color: #444;
            display: inline-block;
            } 
            &:before,&:after{
            content:"";
			position: absolute;
			left:0;
			transform-origin: center;
		    }
            &:before{
                top:-0.8rem;
            }
            &:after{
                top:0.8rem;
            }
        }
    }
    .nav_checkbox:checked + .nav-btn .line{
        background-color: transparent;

        &:before {
            transform: rotate(135deg);
            top:0;
        }
        
        &:after {
            transform: rotate(-135deg);
            top:0;
        }
    }
        
    .nav-links{
        position: fixed;
        top:-100%;
        left:50%;
        opacity: 0;
        width:-100%;
        height:0%;
        background-color: blue;
        transition: all .8s ease-in;
        transition-property: background-color, left,height, width;
        & > li a{
            width:0;
            opacity:0;
            transition: opacity .9s ease-in;
        }
    }
}

section{
    display: flex;
    height:80vh;
    justify-content:center;
    align-items:center;
    .hero{
        width:100%;
        height:60%;
        position: relative;
        img{
            width:100%;
            height:100%;
            object-fit: cover;
        }
        &:after{
            content:"";
            position: absolute;
            background:rgba(54,53,134,0.3);
            width:100%;
            height:100%;
            left:0;
            top:0;
        }
        .headline{
            position: absolute;
            top:70%;
            left:10%;
            font-size: 10rem;
            transform: translate(-20%, -70%);
            color:white;
            z-index: 3;
        }
    }
    
}

.slider{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background: linear-gradient(to left, #ffa700, #ffe300);
    z-index: -1;
}


@media only screen and (max-width: 821px) {
    nav{
        #logo{
            font-size:1.4rem;
        }
    }
    section{
        height:80vh;
        .hero{
            .headline{
                font-size: 7rem;
                left:15%;
            }
        }
        
    }
  }



@media only screen and (max-width: 400px) {
    section{
        .hero{
            .headline{
                font-size: 5rem;
                left:18%;
            }
        }
        
    }
  }